
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-weight:bold;
}

header {
    background-color: #009c7f;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color:#3FC1C9; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 30px;
}

section h2 {
    color: #333;

}


button {
    background:green; 
    
    color:white;
     border:none; 
     padding:8px 15px;
    border-radius:5px;
}

#map{height:100%;margin:0;}

 
  #info{position:absolute;bottom:5px;right:5px;background:white;padding:3px 6px;border-radius:6px;font-size:11px;}
input, textarea {width:80%; margin:5px; padding:8px; border-radius:8px; border:1px solid #aaa;}

  footer {
    text-align: center;
    padding: 10px;
    background-color: #009c7f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;

}
